.cas {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Add space between items */
  margin-left: 20px; 
  margin-right: 20px; 
}

.card-item {
  width: calc(25% - 20px); 
  margin-bottom: 20px;
  padding-left: 10px; 
  padding-right: 10px; 
}

.card-item:last-child {
  margin-right: 0; 
}

@media (max-width: 768px) {
  .card-item {
    width: calc(33.33% - 20px); 
  }
}

@media (max-width: 576px) {
  .card-item {
    width: calc(50% - 20px); 
  }
}
